@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-dashboard: #F4F5FA;
  --color-border: #E8E8F0;
  --color-clipper: #7883FF;
  --color-clipper-light: #A2AAFF;
  --animate-slide-in: slide-in 0.25s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}